body {
    font-family: 'Poppins';
}


.edtech-slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 85vh;
}

.edtech-bg-mask {
    background-color: rgba(0, 0, 0, 0.6);
}

.edtech-padding {
    padding: 0% 26%;
}
.coursesitem img{
    width:180px;
    padding: 18px;
    
}

.social a{
    text-decoration: none;
    font-size: 24px;
    justify-content: space-between;
    color:white;
    margin: 0px 10px;
    background-color: rgba(88, 75, 75, 0.514);
    border-radius: 10%;
}

/* @media screen {
    .coursesitem{
       flex-direction:flex-wrap-reverse; 
    }
} */